@import '~antd/dist/antd.css';

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

html, body {
  background: rgba(0, 0, 0, 0.1);
}

.ant-layout {
  background: rgba(0, 0, 0, 0);
}

.ant-layout-header {
  background: rgba(0, 0, 0, 0);
  padding: 0 0px;
  height: 20px;
  line-height: 0px;
  -webkit-user-select: none;
  -webkit-app-region:drag;
}

#zero-align-icon {
  height: 18px;
  width: 18px;
  margin: 1px;
  vertical-align: 0.1em;
}

#zero-align-icon > .anticon {
  vertical-align: 0.05em;
}