@import '~antd/dist/antd.css';

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

html, body {
  background: rgba(0, 0, 0, 0);
}

.ant-layout {
  background: rgba(0, 0, 0, 0);
}

.ant-btn {
  border-radius: 10px
}

.ant-layout-header {
  background: rgba(0, 0, 0, 0);
  padding: 0 0px;
  height: 20px;
  line-height: 0px;
  -webkit-user-select: none;
  -webkit-app-region:drag;
}

.ant-layout-sider {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  position: relative;
  background: #0A0914;
  min-width: 0;
}

.ant-menu-dark {
  background: #0A0914
}

.song-title {
  color: white
}

.song-description {
  color: white
}

#zero-align-icon {
  height: 12px;
  width: 12px;
  margin: 4px 3px;
  vertical-align: -0.1em;
  border: 0px solid transparent;
}

#zero-align-icon > .anticon {
  vertical-align: 0.5em;
  font-size: 10px;
}

:focus {
  outline: none !important;
}